@mixin font($fw, $fs, $lh, $ls) {
    font-weight: $fw;
    font-size: $fs;
    line-height: $lh;
    letter-spacing: $ls;
}

@mixin flex($fl, $al, $jc) {
    display: $fl;
    align-items: $al;
    justify-content: $jc;
}

@mixin size($w, $h) {
    width: $w;
    height: $h;
}