:root {
    --logo-color-black: #000000;
    --current-active: #2196f3;
    --current-btn: #188ce8;
    --hero-bg: #2f303a;
    --primary-grey-dark: #212121;
    --secondary-grey: #757575;
    --color-white: #ffffff;
    --btn-bg: #f5f4fa;
    --footer-item-link: rgba(255, 255, 255, 0.6);
    --footer-form-email: rgba(255, 255, 255, 0.3);
    --icons-bg: rgba(255, 255, 255, 0.1);
    --border: #ececec;
    --color-icon: #afb1b8;
    --form-comment: rgba(117, 117, 117, 0.5);
    --form-input: rgba(33, 33, 33, 0.2);
    --portfolio-link-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
      1px 4px 6px rgba(0, 0, 0, 0.16);
    --portfolio-btn-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
      0px 2px 2px rgba(0, 0, 0, 0.12);
    --modal-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
      0px 2px 1px rgba(0, 0, 0, 0.2);
    --activity-bg: rgba(47, 48, 58, 0.8);
    --backdrop: rgba(0, 0, 0, 0.2);
    --modal-btn: rgba(0, 0, 0, 0.1);
    --footer-btn: rgba(0, 0, 0, 0.15);
    --portfolio-wrap: rgba(33, 150, 243, 0.9);
    --cubic-bezier: cubic-bezier(0.4, 0, 0.2, 1);
    --ff-raleway: 'Raleway', sans-serif;
  }